---
---

// Font mixins
@mixin OSWALD
  font:
    family: 'Oswald', sans-serif
    size: 16px

@mixin ARIMO
  font:
    family: 'Arimo', sans-serif
    size: 16px

@mixin ARIMO_BOLD
  @include ARIMO
  font:
    weight: 700


// TAGS
html, body
  height: 100%

body
  @include ARIMO
  background:
    color: #1f2227
    // image: repeating-linear-gradient(-45deg, #25282d, #25282d 2px, transparent 2px, transparent 16px), repeating-linear-gradient(45deg, #25282d, #25282d 2px, #1f2227 2px, #1f2227 16px)
    image: url('../assets/images/background.jpg')
    size: 44px
  color: #ced3f8

// CLASSES
.home-title
  span
    font-size: 2em

.page-content
  width: 100%

  p
    font-size: 1.5em

  .avatar
    max-width: 80%
    height: auto

  .wrap
    // margin: 0 auto
    // max-width: 80%


.page-content, .site-footer
  .wrap
    margin: 0 auto
    max-width: 80%

.site-footer
  // background-color: #FF4500
  a
    font-size: 3em
    text-decoration: none

    .text
      display: none

  .wrap
    text-align: center
    // width: 80%

.site-header
  background-color: #f2f2f2
  min-height: 3em
  text-align: center

  .header-title
    @include OSWALD
    color: #13b1db
    font-size: 3.438em
    margin: 0
    // letter-spacing: -1px

    span
      color: #f35835

  .speech-balloon
    margin: auto

  .wrap
    padding: 2em 0.5em

@media screen and (min-width: 768px)
  .page-content
    text-align: center

  .site-footer
    a
      font-size: 2em

      .text
        display: inline